.newpotifolio
{
background-color:#ffffff;
height:832px;
width:1280px;
padding:0px;
position:absolute;
}
.rectangle27
{
background-color:#303030;
height:776px;
width:439px;
border:1px solid #000000;
left:20px;
top:41px;
position:absolute;
}
.html
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:IBM Plex Sans Thai;
left:76px;
top:374px;
width:42px;
height:26px;
position:absolute;
line-height:auto;
}
.php
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:IBM Plex Sans Thai;
left:76px;
top:430px;
width:31px;
height:26px;
position:absolute;
line-height:auto;
}
.css
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:IBM Plex Sans Thai;
left:76px;
top:486px;
width:29px;
height:26px;
position:absolute;
line-height:auto;
}
.javascript
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:IBM Plex Sans Thai;
left:76px;
top:542px;
width:92px;
height:26px;
position:absolute;
line-height:auto;
}
.jquery
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:IBM Plex Sans Thai;
left:76px;
top:598px;
width:59px;
height:26px;
position:absolute;
line-height:auto;
}
.java&jsp
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:IBM Plex Sans Thai;
left:76px;
top:654px;
width:83px;
height:26px;
position:absolute;
line-height:auto;
}
.c-+
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:IBM Plex Sans Thai;
left:76px;
top:693px;
width:36px;
height:27px;
position:absolute;
line-height:auto;
}
.rectangle6
{
background-color:#1e1e1e;
height:45px;
width:438px;
top:772px;
left:20px;
position:absolute;
}
.rectangle7
{
height:18px;
width:30px;
left:292px;
top:786px;
position:absolute;
}
.sidebar
{
background-color:#474646;
height:776px;
width:787px;
padding:0px;
left:459px;
top:42px;
position:relative;
}
.frame1
{
height:100px;
width:100px;
padding:0px;
left:92px;
top:786px;
position:relative;
}
.rectangle33
{
background-color:#d9d9d9;
height:110px;
width:205px;
top:105px;
left:47px;
position:absolute;
}
.rectangle36
{
background-color:#d9d9d9;
height:110px;
width:205px;
top:259px;
left:45px;
position:absolute;
}
.projects
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:IBM Plex Sans Thai;
line-height:auto;
top:272px;
left:100px;
position:absolute;
width:59px;
}
.rectangle34
{
background-color:#d9d9d9;
height:110px;
width:205px;
top:105px;
left:291px;
position:absolute;
}
.contactme
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:IBM Plex Sans Thai;
line-height:auto;
top:116px;
left:337px;
position:absolute;
width:82px;
}
.rectangle37
{
background-color:#d9d9d9;
height:110px;
width:205px;
top:259px;
left:291px;
position:absolute;
}
.blog
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:auto;
top:276px;
left:349px;
position:absolute;
width:34px;
}
.rectangle35
{
background-color:#d9d9d9;
height:110px;
width:205px;
top:63px;
left:76px;
position:absolute;
}
.formuchmoreinformationaboutmeclickaboutme.
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:13px;
font-family:IBM Plex Sans Thai;
line-height:auto;
top:111px;
left:97px;
position:absolute;
width:169px;
}
.rectangle38
{
background-color:#d9d9d9;
height:110px;
width:205px;
top:217px;
left:76px;
position:absolute;
}
.quickaccess
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:30px;
font-family:IBM Plex Sans Thai;
line-height:auto;
top:35px;
left:47px;
position:absolute;
width:179px;
}
.rectangle39
{
height:28px;
width:30px;
left:0px;
top:73px;
position:absolute;
}
.resume
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:IBM Plex Sans Thai;
line-height:auto;
top:118px;
left:96px;
position:absolute;
width:59px;
}
.downloadmyresumeformoreinformation
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:IBM Plex Sans Thai;
line-height:auto;
top:144px;
left:69px;
position:absolute;
width:157px;
}
.viewmycurrentlyworkedonprojects.
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:IBM Plex Sans Thai;
line-height:auto;
top:298px;
left:78px;
position:absolute;
width:157px;
}
.viewmycurrentlyworkedonprojects.2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:IBM Plex Sans Thai;
line-height:auto;
top:298px;
left:78px;
position:absolute;
width:157px;
}
.wanttosendmeamessage.clickcontact.
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:IBM Plex Sans Thai;
line-height:auto;
top:143px;
left:320px;
position:absolute;
width:157px;
}
.clicktoviewthelatestblogpost.
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:IBM Plex Sans Thai;
line-height:auto;
top:300px;
left:315px;
position:absolute;
width:157px;
}
.rectangle40
{
background-color:#c9b502;
height:18px;
width:73px;
border-radius:5px;
top:192px;
left:173px;
position:absolute;
}
.rectangle46
{
background-color:#c9b502;
height:18px;
width:73px;
border-radius:5px;
top:346px;
left:166px;
position:absolute;
}
.rectangle49
{
background-color:#c9b502;
height:18px;
width:73px;
border-radius:5px;
top:344px;
left:414px;
position:absolute;
}
.rectangle42
{
background-color:#c9b502;
height:18px;
width:73px;
border-radius:5px;
top:192px;
left:418px;
position:absolute;
}
.rectangle44
{
background-color:#c9b502;
height:18px;
width:73px;
border-radius:5px;
top:151px;
left:198px;
position:absolute;
}
.download2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:13px;
font-family:IBM Plex Sans Thai;
line-height:auto;
top:192px;
left:180px;
position:absolute;
width:59px;
}
.view4
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:13px;
font-family:IBM Plex Sans Thai;
line-height:auto;
top:346px;
left:191px;
position:absolute;
width:29px;
}
.explore
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:13px;
font-family:IBM Plex Sans Thai;
line-height:auto;
top:342px;
left:432px;
position:absolute;
width:44px;
}
.contact3
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:13px;
font-family:IBM Plex Sans Thai;
line-height:auto;
top:191px;
left:432px;
position:absolute;
width:46px;
}
.aboutme2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:13px;
font-family:IBM Plex Sans Thai;
line-height:auto;
top:151px;
left:210px;
position:absolute;
width:56px;
}
.rectangle41
{
height:29px;
width:31px;
left:0px;
top:73px;
position:absolute;
}
.rectangle43
{
height:29px;
width:31px;
left:89px;
top:72px;
position:absolute;
}
.aboutme3
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:IBM Plex Sans Thai;
line-height:auto;
top:75px;
left:122px;
position:absolute;
width:69px;
}
.rectangle45
{
height:31px;
width:31px;
left:0px;
top:225px;
position:absolute;
}
.rectangle48
{
height:27px;
width:31px;
left:0px;
top:229px;
position:absolute;
}
.myservices
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:30px;
font-family:IBM Plex Sans Thai;
line-height:auto;
top:383px;
left:41px;
position:absolute;
width:160px;
}
.service2
{
width:207px;
height:139px;
top:445px;
left:43px;
position:absolute;
}
.rectangle47
{
background-color:#d9d9d9;
height:139px;
width:207px;
top:445px;
left:43px;
position:absolute;
}
.mobileapplication
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:IBM Plex Sans Thai;
left:65px;
top:450px;
width:174px;
height:33px;
position:absolute;
line-height:auto;
}
.youcanevenordermoblileapplicationforandroid.
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:15px;
font-family:IBM Plex Sans Thai;
left:62px;
top:490px;
width:186px;
height:50px;
position:absolute;
line-height:auto;
}
.ordernow>
{
color:#e4b306;
text-align:left;
vertical-align:text-top;
font-size:15px;
font-family:IBM Plex Sans Thai;
left:157px;
top:557px;
width:87px;
height:25px;
position:absolute;
line-height:auto;
}
.service1
{
width:207px;
height:139px;
top:445px;
left:291px;
position:absolute;
}
.rectangle472
{
background-color:#d9d9d9;
height:139px;
width:207px;
top:445px;
left:291px;
position:absolute;
}
.webdevelopment
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:IBM Plex Sans Thai;
left:313px;
top:450px;
width:174px;
height:33px;
position:absolute;
line-height:auto;
}
.getyourwebsitedoneforaslongasyouwish.
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:15px;
font-family:IBM Plex Sans Thai;
left:310px;
top:490px;
width:171px;
height:50px;
position:absolute;
line-height:auto;
}
.ordernow>2
{
color:#e4b306;
text-align:left;
vertical-align:text-top;
font-size:15px;
font-family:IBM Plex Sans Thai Looped;
left:405px;
top:557px;
width:87px;
height:25px;
position:absolute;
line-height:auto;
}
.service22
{
width:207px;
height:139px;
top:401px;
left:80px;
position:absolute;
}
.rectangle473
{
background-color:#d9d9d9;
height:139px;
width:207px;
top:443px;
left:539px;
position:absolute;
}
.desktopapplication
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:IBM Plex Sans Thai;
left:550px;
top:448px;
width:191px;
height:34px;
position:absolute;
line-height:auto;
}
.icreatemanagementsystemandcommercialsystem.
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:15px;
font-family:IBM Plex Sans Thai;
left:558px;
top:488px;
width:171px;
height:75px;
position:absolute;
line-height:auto;
}
.ordernow>3
{
color:#e4b306;
text-align:left;
vertical-align:text-top;
font-size:15px;
font-family:IBM Plex Sans Thai Looped;
left:653px;
top:555px;
width:87px;
height:25px;
position:absolute;
line-height:auto;
}
.service3
{
width:207px;
height:139px;
top:615px;
left:45px;
position:absolute;
}
.rectangle474
{
background-color:#d9d9d9;
height:139px;
width:207px;
top:615px;
left:45px;
position:absolute;
}
.softwaretesting
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:IBM Plex Sans Thai;
left:66px;
top:620px;
width:169px;
height:29px;
position:absolute;
line-height:auto;
}
.weimplementssoftwaretestingforanysofware.
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:15px;
font-family:IBM Plex Sans Thai;
left:64px;
top:660px;
width:171px;
height:50px;
position:absolute;
line-height:auto;
}
.ordernow>4
{
color:#e4b306;
text-align:left;
vertical-align:text-top;
font-size:15px;
font-family:IBM Plex Sans Thai Looped;
left:159px;
top:727px;
width:87px;
height:25px;
position:absolute;
line-height:auto;
}
.service4
{
width:207px;
height:139px;
top:605px;
left:292px;
position:absolute;
}
.rectangle475
{
background-color:#d9d9d9;
height:139px;
width:207px;
top:605px;
left:292px;
position:absolute;
}
.gamedevelopment
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:IBM Plex Sans Thai;
left:304px;
top:608px;
width:184px;
height:33px;
position:absolute;
line-height:auto;
}
.ievenacceptdealofdevelopingagameinjava
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:15px;
font-family:IBM Plex Sans Thai;
left:311px;
top:650px;
width:186px;
height:50px;
position:absolute;
line-height:auto;
}
.ordernow>5
{
color:#e4b306;
text-align:left;
vertical-align:text-top;
font-size:15px;
font-family:IBM Plex Sans Thai;
left:406px;
top:717px;
width:87px;
height:25px;
position:absolute;
line-height:auto;
}
.rectangle8
{
height:18px;
width:30px;
left:352px;
top:786px;
position:absolute;
}
.rectangle9
{
height:18px;
width:30px;
left:232px;
top:786px;
position:absolute;
}
.rectangle10
{
height:18px;
width:30px;
left:172px;
top:786px;
position:absolute;
}
.rectangle11
{
height:18px;
width:30px;
left:112px;
top:786px;
position:absolute;
}
.rectangle12
{
background-color:#525252;
height:304px;
width:438px;
top:41px;
left:20px;
position:absolute;
}
.ellipse1
{
height:150px;
width:150px;
left:164px;
top:67px;
position:absolute;
border-radius:50%;
}
.bikorimanasaveur
{
color:#fffafa;
text-align:left;
vertical-align:text-top;
font-size:25px;
font-family:IBM Plex Sans Thai;
left:140px;
top:217px;
width:249px;
height:41px;
position:absolute;
line-height:auto;
}
.fullstackdeveloper,cloudengineer
{
color:#8c7f7f;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:IBM Plex Sans Thai;
left:118px;
top:251px;
width:271px;
height:26px;
position:absolute;
line-height:auto;
}
.rectangle13
{
background-color:#ffffff;
height:8px;
width:327px;
top:400px;
left:76px;
position:absolute;
}
.rectangle16
{
background-color:#ffffff;
height:8px;
width:327px;
top:456px;
left:76px;
position:absolute;
}
.rectangle19
{
background-color:#ffffff;
height:8px;
width:327px;
top:512px;
left:76px;
position:absolute;
}
.rectangle22
{
background-color:#ffffff;
height:8px;
width:327px;
top:568px;
left:76px;
position:absolute;
}
.rectangle25
{
background-color:#ffffff;
height:8px;
width:327px;
top:624px;
left:76px;
position:absolute;
}
.rectangle28
{
background-color:#ffffff;
height:8px;
width:327px;
top:680px;
left:76px;
position:absolute;
}
.rectangle31
{
background-color:#ffffff;
height:9px;
width:327px;
top:720px;
left:76px;
position:absolute;
}
.rectangle14
{
background-color:#cbc408;
height:8px;
width:236px;
top:400px;
left:76px;
position:absolute;
}
.rectangle17
{
background-color:#cbc408;
height:8px;
width:250px;
top:456px;
left:76px;
position:absolute;
}
.rectangle20
{
background-color:#cbc408;
height:8px;
width:250px;
top:512px;
left:76px;
position:absolute;
}
.rectangle23
{
background-color:#cbc408;
height:8px;
width:169px;
top:568px;
left:76px;
position:absolute;
}
.rectangle26
{
background-color:#cbc408;
height:8px;
width:219px;
top:624px;
left:76px;
position:absolute;
}
.rectangle29
{
background-color:#cbc408;
height:8px;
width:242px;
top:680px;
left:76px;
position:absolute;
}
.rectangle32
{
background-color:#cbc408;
height:9px;
width:186px;
top:720px;
left:76px;
position:absolute;
}
.%
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:IBM Plex Sans Thai;
left:369px;
top:374px;
width:35px;
height:26px;
position:absolute;
line-height:auto;
}
.%2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:IBM Plex Sans Thai;
left:369px;
top:430px;
width:35px;
height:26px;
position:absolute;
line-height:auto;
}
.%3
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:IBM Plex Sans Thai;
left:369px;
top:486px;
width:35px;
height:26px;
position:absolute;
line-height:auto;
}
.%4
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:IBM Plex Sans Thai;
left:369px;
top:542px;
width:35px;
height:26px;
position:absolute;
line-height:auto;
}
.%5
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:IBM Plex Sans Thai;
left:369px;
top:598px;
width:35px;
height:26px;
position:absolute;
line-height:auto;
}
.%6
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:IBM Plex Sans Thai;
left:369px;
top:654px;
width:35px;
height:26px;
position:absolute;
line-height:auto;
}
.%7
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:IBM Plex Sans Thai;
left:369px;
top:693px;
width:35px;
height:27px;
position:absolute;
line-height:auto;
}
.rectangle50
{
height:387px;
width:790px;
top:430px;
left:456px;
position:absolute;
}